.form-container{
    justify-content: center;
    margin-left: 32%;
    font-size: 30px;
}

.form-line{
    justify-content: center;
    font-size: 30px;
}

.input-field{
    font-size: 30px;
}

.input-field-btn{
    font-size: 30px;
}