.footer {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.f-body {
  align-items: center;
  justify-content: space-between;
  color: aquamarine;
}

.sec {
  color: black;
}
